// Estilos para sq-select-multi-form-control (compatível com sq-select-multi-tags)

.wrapper-all-inside-input {
  position: relative;
  display: block;
}

.wrapper-select-multi {
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;

  &.loading {
    cursor: wait;
  }

  .input-fake-content-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    max-width: calc(100% - 40px);
    min-height: 51px;

    .tag {
      margin: 0;
      border: 1px solid var(--border_color);
      border-radius: 5px;
      padding: 0.2rem 0.35rem;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      transition: var(--transition);
      background: var(--background_secondary);

      &:hover {
        background: var(--border_color);
      }
    }
  }

  .input-fake-content {
    min-height: 44px;
    border: 1px solid var(--border_color);
    background: var(--background);
    padding: 0.75rem 1rem;
    transition: var(--transition);
    color: var(--text_color);
    border-radius: 5px;
    overflow-x: auto;

    .icon-down {
      right: 20px;
      bottom: calc(50% - 6px);
      position: absolute;
      font-size: 0.86rem;
    }
    &.readonly {
      cursor: not-allowed;
      pointer-events: none;
      background-color: var(--color_border_input);
      border-color: var(--color_border_input_disabled);
    }
  }

  .loading-wrapper {
    position: absolute;
    right: 5px;
    bottom: 10px;
  }

  .badge {
    position: absolute;
    bottom: 15px;
    right: 20px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--border_color);
    color: var(--black);
    font-size: 0.86rem;
    font-weight: 700;
    padding: 0 0.35rem;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: var(--transition);
  }

  .input-search {
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-top: 1.1rem;
    margin-bottom: 0.7rem;
    background-color: var(--background_secondary);

    .wrapper-all-inside-input {
      .icon {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        right: 11px;
        top: 16px;
      }

      .icon-external {
        color: inherit !important;
      }
    }
  }

  .input-window {
    width: 100%;
    position: absolute;
    top: 100%;
    max-height: 0;
    height: 0;
    transition: var(--transition);
    overflow: hidden;
    z-index: 1;

    &.open {
      height: auto;
      max-height: 400px;
      background: var(--background_secondary);
      padding: 0 0.7rem 1.1rem;
      overflow-y: auto;
      box-shadow: var(--box_shadow);
    }
  }

  .icon-collapse {
    transition: var(--transition);
    cursor: pointer;
    padding: 0.35rem;
    position: relative;
  }

  .list,
  .children {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;

    li {
      display: grid;
      .label {
        margin: 0 0 0.5rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: flex-start;
        transition: var(--transition);
      }
    }
  }

  .children {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
    padding-left: 1.4rem;

    &.open {
      max-height: 9999px;
    }
  }
}


