<div class="wrapper-all-inside-input {{ customClass }}">
  @if (label?.length || labelTemplate || tooltipMessage) {
    <label
      class="display-flex align-items-center"
      [ngClass]="{
        readonly: readonly || isMaxSelections,
      }"
      [for]="id"
    >
      @if (label && !labelTemplate) {
        <div [ngStyle]="{ color: labelColor }" [innerHtml]="label | universalSafe"></div>
      }
      @if (labelTemplate) {
        <span>
          <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        </span>
      }
      @if (tooltipMessage) {
        <sq-tooltip
          class="ml-1"
          [message]="tooltipMessage"
          [placement]="tooltipPlacement"
          [color]="tooltipColor"
          [icon]="tooltipIcon"
        ></sq-tooltip>
      }
    </label>
  }

  <!-- Container principal -->
  <div
    class="wrapper-select-multi"
    [ngClass]="{
      error: false,
      disabled: disabled,
      readonly: readonly || isMaxSelections,
      loading: loading,
    }"
  >
    <div
      [class]="'input-fake col border-' + (borderColor || '')"
      style="min-height: auto"
      [ngStyle]="{
        'background-color': backgroundColor,
        'border-color': borderColor,
      }"
      [ngClass]="{
        'no-label': !(label?.length || labelTemplate),
        'has-icon': false,
        disabled: disabled,
        readonly: readonly || isMaxSelections,
      }"
      [dataTest]="selectHandleDataTest"
      [clickOutsideEnabled]="isOpen"
      (clickOutside)="closeDropdown()"
    >
      <div
        class="input-fake-content"
        [ngClass]="{
          disabled: disabled,
          readonly: readonly,
        }"
        [style.maxHeight]="displayMode === 'tags' ? tagsMaxHeight : 'auto'"
        (click)="toggleDropdown()"
      >
        @if (loading) {
          <div class="loading-wrapper">
            <sq-loader></sq-loader>
          </div>
        }
        @if (!value.length || !showInside) {
          <span>{{ placeholder }}</span>
        }
        @if (showInside && value.length) {
          <!-- Modo Default: exibição compacta -->
          @if (displayMode === 'default') {
            @if (selectedTemplate) {
              <ng-container
                *ngTemplateOutlet="selectedTemplate; context: { $implicit: value, selected: value, count: value.length }"
              ></ng-container>
            } @else {
              <span class="selected-summary">{{ summaryText }}</span>
            }
          }
          <!-- Modo Tags: tags individuais -->
          @if (displayMode === 'tags') {
            <div class="input-fake-content-text">
              @for (opt of value; track trackByValue($index, opt)) {
                @if (tagTemplate) {
                  <ng-container
                    *ngTemplateOutlet="tagTemplate; context: { $implicit: opt, option: opt, remove: removeItem.bind(this) }"
                  ></ng-container>
                } @else {
                  <span class="tag" (click)="removeItem(opt, $event)">
                    {{ opt.label }}
                    @if (!readonly) {
                      <i class="fas fa-times" [style.minWidth]="'auto'"></i>
                    }
                  </span>
                }
              }
            </div>
          }
        }
        @if (value.length) {
          <span class="badge">{{ value.length }}</span>
        }
        @if (!loading) {
          <i class="icon-down fas fa-chevron-down"></i>
        }
      </div>

      @if (!loading && !disabled && !readonly && !isMaxSelections && renderDropdown) {
        <div
          id="sq-select-multi-tags-scroll"
          class="input-window scrollbar"
          [ngClass]="{
            open: !loading && !disabled && !isMaxSelections && renderDropdown && isOpen,
          }"
        >
          <div class="input-search">
            <div class="wrapper-all-inside-input">
              <div class="p-0 wrapper-input wrapper-input-squid text-ellipsisarea">
                <input
                  [dataTest]="selectInputDataTest"
                  [name]="name"
                  [id]="id"
                  [placeholder]="searchPlaceholder || 'Buscar...'"
                  class="col input"
                  [value]="searchText"
                  (input)="onSearchInput($event)"
                />
              </div>
              <span class="icon icon-external textarea-icon"><i class="fas fa-search"></i></span>
            </div>
          </div>

          <cdk-virtual-scroll-viewport
            [itemSize]="32"
            [ngStyle]="{ height: '305px' }"
            class="list scrollbar"
          >
            <ng-container
              *cdkVirtualFor="let opt of displayOptions; i as index; trackBy: trackByValue"
            >
              <ng-template *ngTemplateOutlet="option; context: { opt: opt, i: index }"></ng-template>
            </ng-container>
          </cdk-virtual-scroll-viewport>
          @if (!displayOptions?.length) {
            @if (!emptyTemplate) {
              <p class="mb-0 mt-3">
                Nenhuma opção encontrada
              </p>
            }
            @if (emptyTemplate) {
              <span>
                <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
              </span>
            }
          }
        </div>
      }
    </div>
  </div>

  <!-- Template de opção (recursivo para hierarquia) -->
  <ng-template #option let-opt="opt" let-i="i">
    <li>
      <div class="label">
        <i
          class="icon-collapse fas fa-chevron-down"
          [ngClass]="{ 'fa-rotate-by': !opt.open }"
          [ngStyle]="{ color: !opt?.children?.length || opt?.disabled ? 'transparent' : '' }"
          (click)="toggleCollapse(opt)"
          style="--fa-rotate-angle: -90deg"
        ></i>
        <sq-selector
          [dataTest]="optionDataTest + '-' + (i || opt.value)"
          [style.minWidth]="'auto'"
          [id]="(id || name) + '-checkbox-' + opt?.value + '-' + i"
          [name]="name + '-checkbox'"
          [value]="opt?.value"
          [disabled]="opt?.disabled"
          [checked]="isSelected(opt)"
          [indeterminate]="hasSelectedChildren(opt) && !isSelected(opt)"
          (valueChange)="toggleOption(opt, $event)"
        ></sq-selector>
        <span
          class="text m-0 display-inline-block"
          [ngClass]="{ 'cursor-pointer': opt?.children?.length }"
          (click)="toggleCollapse(opt)"
          >{{ opt?.label }}</span
        >
      </div>
      @if (opt?.children?.length) {
        <ul class="children" [ngClass]="{ open: !opt?.disabled && opt?.open }">
          @for (
            child of opt?.children;
            track trackByValue(j, child);
            let j = $index
          ) {
            <ng-template *ngTemplateOutlet="option; context: { opt: child, i: j }"></ng-template>
          }
        </ul>
      }
    </li>
  </ng-template>
</div>


