<div class="sq-textarea-form-control {{ customClass }}">
  <!-- Label -->
  @if (label?.length || tooltipMessage || labelTemplate) {
    <div
      class="display-flex align-items-center wrapper-label-input"
      [ngClass]="{ disabled: disabled, readonly: readonly }"
    >
      @if (label && !labelTemplate) {
        <label class="label-input mr-1" [for]="id" [innerHtml]="label | universalSafe"></label>
      }
      @if (labelTemplate) {
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
      }
      @if (tooltipMessage) {
        <sq-tooltip
          [message]="tooltipMessage"
          [placement]="tooltipPlacement"
          [color]="tooltipColor"
          [icon]="tooltipIcon"
        ></sq-tooltip>
      }
    </div>
  }

  <!-- Container do textarea -->
  <div
    class="textarea-container"
    [ngClass]="{
      disabled: disabled,
      readonly: readonly,
    }"
  >
    <!-- Left label -->
    @if (leftLabel) {
      <span class="input-group-text left">
        <ng-container *ngTemplateOutlet="leftLabel"></ng-container>
      </span>
    }

    <!-- Textarea -->
    <textarea
      class="textarea scrollbar"
      [ngStyle]="{
        'min-height': autoResize ? minHeight : null,
        'max-height': autoResize ? maxHeight : null,
      }"
      [ngClass]="{
        disabled: disabled,
        readonly: readonly,
        'auto-resize': autoResize,
      }"
      [id]="id"
      [name]="name"
      [placeholder]="placeholder"
      [rows]="rows"
      [disabled]="disabled"
      [readonly]="readonly"
      [formControl]="control"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
      (input)="onInput($event)"
    ></textarea>

    <!-- Right label -->
    @if (rightLabel) {
      <span class="input-group-text right">
        <ng-container *ngTemplateOutlet="rightLabel"></ng-container>
      </span>
    }

  </div>
</div>

