.scroll {
  width: 100%;
  height: auto;
  position: relative;
  .wrapper-message {
    p {
      text-align: center;
      font-size: 0.86rem;
      margin: 1.1rem auto;
    }
  }
}

.infinity-loader {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-html);
}