::ng-deep {
  .overlay {
    padding: 0;
    border-radius: 0px;
    &.left {
      justify-content: flex-start;
    }
    &.right {
      justify-content: flex-end;
    }
    .modal-dialog {
      width: 300px;
      max-width: 100vw;
      height: 100%;
      margin: 0;
      position: fixed;
      transition:
        opacity 0.3s linear,
        left 0.3s ease-out,
        right 0.3s ease-out,
        width 0.3s ease-out,
        height 0.3s ease-out !important;
      transform: translate3d(0%, 0, 0) !important;
      .modal-content {
        height: 100%;
        border-radius: 0;
        overflow-y: auto;
        border: none;
        background-color: transparent;
        .modal-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          border-radius: 0;
          overflow: hidden;
          padding: 1rem 2rem;
          &.without-header {
            padding: 0 0.08rem;
            border: none;
            justify-content: flex-end;
            .button-close {
              margin: 0;
              padding: 0;
            }
          }
          .button-close {
            max-height: 30px;
            line-height: 30px;
            opacity: 0.7 !important;
            transition: var(--transition);
            z-index: 1;
            span {
              font-size: 2.1rem;
              font-weight: 300;
              transition: var(--transition);
            }
            &:hover,
            &:focus {
              outline: none;

              span {
                font-weight: 500;
              }
            }
          }
        }
        .modal-body {
          height: calc(100vh - 112px);
          overflow-y: auto;
          overflow-x: hidden;
          &.without-footer {
            height: calc(100vh - 52px);
          }
        }
        .modal-footer {
          height: 60px;
          border-radius: 0;
          overflow: hidden;
          padding: 0.5rem 2rem;
        }
        .modal-footer > * {
          margin: 0;
        }
        .borderless {
          border-color: transparent;
        }
      }
    }
  }
}
