<div
  class="wrapper-all-inside-input wrapper-select-search {{ customClass }}"
  [ngClass]="{
    error: (externalError && externalError !== '') || (error && error !== ''),
    readonly: readonly,
    loading: loading
  }"
>
  <label
    class="display-flex align-items-center"
    *ngIf="label?.length || labelTemplate || tooltipMessage"
    [ngClass]="{
      readonly: readonly
    }"
    [for]="id"
  >
    <div *ngIf="label && !labelTemplate" [ngStyle]="{ 'color': labelColor }" [innerHtml]="label | universalSafe"></div>
    <span *ngIf="labelTemplate">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </span>
    <sq-tooltip
      *ngIf="tooltipMessage"
      class="ml-1"
      [message]="tooltipMessage"
      [placement]="tooltipPlacement"
      [color]="tooltipColor"
      [icon]="tooltipIcon"
    ></sq-tooltip>
  </label>
  <div
    [class]="'input-fake col  border-' + borderColor"
    style="min-height: auto"
    [ngStyle]="{ 'border-color': borderColor }"
    [ngClass]="{
      'no-label': !label.length,
      'has-icon': error || externalError,
      disabled: disabled,
      readonly: readonly
    }"
    [ngStyle]="{
      'background-color': backgroundColor,
      'border-color': borderColor
    }"
    (clickOutside)="closeDropdown()"
    [clickOutsideEnabled]="open"
  >
    <div
      class="input-fake-content"
      [ngClass]="{
        disabled: disabled,
        readonly: readonly
      }"
      (click)="doDropDownAction()"
    >
      <div class="loading-wrapper" *ngIf="loading">
        <sq-loader></sq-loader>
      </div>
      <span *ngIf="!value">{{ placeholder }}</span>
      <div class="input-fake-content-text" *ngIf="value">
        <span class="text" *ngIf="value">
          {{ value!.label }}
        </span>
      </div>
      <i *ngIf="!loading" class="icon-down fas fa-chevron-down"></i>
    </div>
    <div
      *ngIf="!disabled && !loading && renderOptionsList && !readonly"
      class="input-window scrollbar"
      id="sq-select-search-scroll"
      [ngClass]="{
        open: !disabled && !loading && renderOptionsList && open
      }"
    >
      <div class="input-search">
        <div class="wrapper-all-inside-input">
          <div class="p-0 wrapper-input wrapper-input-squid text-ellipsisarea">
            <input
              [name]="name"
              [id]="id"
              [placeholder]="placeholderSearch || ('forms.search' | translateInternal | async) || ''"
              class="col input"
              [ngModel]="searchText"
              (ngModelChange)="onTipSearchChange($event)"
            />
          </div>
          <span class="icon icon-external textarea-icon"><i class='fas fa-search'></i></span>
        </div>
      </div>
      <cdk-virtual-scroll-viewport itemSize="22" [ngStyle]="{ 'height': cdkVirtualScrollViewportHeight }" class="list scrollbar">
        <ng-container *cdkVirtualFor="let opt of _options | search:searchText; i as index; trackBy: trackByOptValue">
          <ng-template *ngTemplateOutlet="option; context: { opt: opt, i: index }"></ng-template>
        </ng-container>
      </cdk-virtual-scroll-viewport>
      <p class="mb-0 mt-3" *ngIf="!_options?.length && !selectEmptyTemplate">
        {{ 'forms.searchSelectEmpty' | translateInternal | async }}
      </p>
      <span *ngIf="selectEmptyTemplate">
        <ng-container *ngTemplateOutlet="selectEmptyTemplate"></ng-container>
      </span>
    </div>
  </div>
  <div
    class="box-validation box-invalid show"
    *ngIf="errorSpan"
    [ngClass]="{
      'visibility-hidden-force': ((!externalError || externalError === '') && (!error || error === '')) || disabled || readonly
    }"
  >
    <i [ngClass]="{
      'visibility-hidden-force': !error && !externalError
    }" class="fa-solid fa-triangle-exclamation"></i>
    {{ externalError ? externalError : '' }}
    {{ error && !externalError ? error : '' }}
  </div>
</div>
<ng-template #option let-opt="opt" let-i="i">
  <li (click)="!opt.disabled ? emit(opt) : ''" [ngClass]="{'disabled': opt.disabled}">
    <span class="text m-0 display-inline-block">{{ opt?.label }}</span>
  </li>
</ng-template>
