<div
  class="modal align-items-center {{ backdropClass }}"
  [id]="id"
  [ngClass]="{
    open: open,
  }"
  #modal
>
  <div
    class="modal-dialog modal-{{ modalSize }} {{ modalClass }}"
    [clickOutsideEnabled]="!!(open && backdrop !== 'static' && modal)"
    (clickOutside)="modalClose.emit()"
  >
    <div class="modal-content modal-sq">
      <div
        class="modal-header"
        [ngClass]="{
          'without-header': !hasHeader,
        }"
        [ngStyle]="{
          background: headerBackgroundColor,
          padding: headerPadding,
        }"
      >
        @if (headerTemplate) {
          <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        }
        @if (buttonClose) {
          <button type="button" class="close button-close" aria-label="Close" (click)="modalClose.emit()">
            <i class="fa-solid fa-xmark fa-lg"></i>
          </button>
        }
      </div>

      <div class="modal-body scrollbar" [ngStyle]="{ background: bodyBackgroundColor, padding: bodyPadding }">
        <ng-content></ng-content>
      </div>

      @if (footerTemplate) {
        <div
          class="modal-footer"
          [ngStyle]="{
            background: footerBackgroundColor,
            padding: footerPadding,
          }"
        >
          <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </div>
      }
    </div>
  </div>
</div>
