<div class="wrapper-all-inside-input {{ customClass }}">
  @if (label?.length || labelTemplate || tooltipMessage) {
    <label
      class="display-flex align-items-center"
      [ngClass]="{
        readonly: readonly || isMaxTags,
      }"
      [for]="id"
    >
      @if (label && !labelTemplate) {
        <div [ngStyle]="{ color: labelColor }" [innerHtml]="label | universalSafe"></div>
      }
      @if (labelTemplate) {
        <span>
          <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        </span>
      }
      @if (tooltipMessage) {
        <sq-tooltip
          class="ml-1"
          [message]="tooltipMessage"
          [placement]="tooltipPlacement"
          [color]="tooltipColor"
          [icon]="tooltipIcon"
        ></sq-tooltip>
      }
    </label>
  }
  <div
    class="wrapper-select-multi"
    [ngClass]="{
      error: (externalError && externalError !== '') || (error && error !== ''),
      disabled: disabled,
      readonly: readonly || isMaxTags,
      loading: loading,
    }"
  >
    <div
      [class]="'input-fake col  border-' + borderColor"
      style="min-height: auto"
      [ngStyle]="{ 'border-color': borderColor }"
      [ngClass]="{
        'no-label': !(label && label.length > 0),
        'has-icon': error || externalError,
        disabled: disabled,
        readonly: readonly || isMaxTags,
      }"
      [ngStyle]="{
        'background-color': backgroundColor,
        'border-color': borderColor,
      }"
      [clickOutsideEnabled]="open"
      (clickOutside)="closeDropdown()"
    >
      <div
        class="input-fake-content"
        [ngClass]="{
          disabled: disabled,
          readonly: readonly,
        }"
        [style.maxHeight]="maxHeight"
        (click)="doDropDownAction()"
      >
        @if (loading) {
          <div class="loading-wrapper">
            <sq-loader></sq-loader>
          </div>
        }
        @if (!value?.length || !showInside) {
          <span>{{ placeholder }}</span>
        }
        @if (showInside && value?.length) {
          <div class="input-fake-content-text">
            @for (opt of value; track opt; let i = $index) {
              <span class="tag" (click)="removeItem(opt, $event)">
                {{ opt?.label }}
                @if (!readonly) {
                  <i class="fas fa-times" [style.minWidth]="'auto'"></i>
                }
              </span>
            }
          </div>
        }
        @if (value?.length) {
          <span class="badge">{{ value!.length }}</span>
        }
        @if (!loading) {
          <i class="icon-down fas fa-chevron-down"></i>
        }
      </div>
      @if (!loading && !disabled && !readonly && !isMaxTags && renderOptionsList) {
        <div
          id="sq-select-multi-tags-scroll"
          class="input-window scrollbar"
          [ngClass]="{
            open: !loading && !disabled && !isMaxTags && renderOptionsList && open,
          }"
        >
          <div class="input-search">
            <div class="wrapper-all-inside-input">
              <div class="p-0 wrapper-input wrapper-input-squid text-ellipsisarea">
                <input
                  [name]="name"
                  [id]="id"
                  [placeholder]="placeholderSearch || ('forms.search' | translateInternal | async) || ''"
                  class="col input"
                  [ngModel]="searchText"
                  (ngModelChange)="modelChange($event)"
                />
              </div>
              <span class="icon icon-external textarea-icon"><i class="fas fa-search"></i></span>
            </div>
          </div>
          <cdk-virtual-scroll-viewport
            [itemSize]="cdkItemSize"
            [ngStyle]="{ height: cdkVirtualScrollViewportHeight }"
            class="list scrollbar"
          >
            <ng-container
              *cdkVirtualFor="let opt of _options | search: searchText; i as index; trackBy: trackByOptValue"
            >
              <ng-template *ngTemplateOutlet="option; context: { opt: opt, i: index }"></ng-template>
            </ng-container>
          </cdk-virtual-scroll-viewport>
          @if (!_options?.length) {
            @if (!selectEmptyTemplate) {
              <p class="mb-0 mt-3">
                {{ 'forms.searchSelectEmpty' | translateInternal | async }}
              </p>
            }
            @if (selectEmptyTemplate) {
              <span>
                <ng-container *ngTemplateOutlet="selectEmptyTemplate"></ng-container>
              </span>
            }
          }
        </div>
      }
    </div>
    @if (errorSpan) {
      <div
        class="box-validation box-invalid show"
        [ngClass]="{
          'visibility-hidden-force':
            ((!externalError || externalError === '') && (!error || error === '')) || disabled || readonly,
        }"
      >
        <i
          [ngClass]="{
            'visibility-hidden-force': !error && !externalError,
          }"
          class="fa-solid fa-triangle-exclamation"
        ></i>
        {{ externalError ? externalError : '' }}
        {{ error && !externalError ? error : '' }}
      </div>
    }
    <ng-template #option let-opt="opt" let-i="i">
      <li>
        <div class="label">
          <i
            class="icon-collapse fas fa-chevron-down"
            [ngClass]="{ 'fa-rotate-by': !opt.open }"
            [ngStyle]="{ color: !opt?.children?.length || opt?.disabled ? 'transparent' : '' }"
            (click)="handleCollapse(opt)"
            style="--fa-rotate-angle: -90deg"
          ></i>
          <sq-selector
            [style.minWidth]="'auto'"
            [id]="(id || name) + '-checkbox-' + opt?.value + '-' + i"
            [name]="name + '-checkbox'"
            [value]="opt?.value"
            [disabled]="opt?.disabled"
            [checked]="findItemInValue(opt, value)"
            [indeterminate]="verifyIfHasChildrenInValue(opt, value)"
            (valueChange)="emit(opt, $event.checked)"
          ></sq-selector>
          <span
            class="text m-0 display-inline-block"
            [ngClass]="{ 'cursor-pointer': opt?.children?.length }"
            (click)="handleCollapse(opt)"
            >{{ opt?.label }}</span
          >
        </div>
        @if (opt?.children?.length) {
          <ul class="children" [ngClass]="{ open: !opt?.disabled && opt?.open }">
            @for (
              child of opt?.children | searchValidValues: searchText;
              track trackByOptValue(j, child);
              let j = $index
            ) {
              <ng-template *ngTemplateOutlet="option; context: { opt: child, i: j }"></ng-template>
            }
          </ul>
        }
      </li>
    </ng-template>
  </div>
</div>
