<div class="wrapper-all-inside-input {{ customClass }}">
  <label
    class="display-flex"
    *ngIf="label?.length || tooltipMessage"
    [ngClass]="{
      readonly: readonly
    }"
    [for]="id"
  >
    <div *ngIf="label" [ngStyle]="{ 'color': labelColor }" [innerHtml]="label | universalSafe"></div>
    <sq-tooltip
      *ngIf="tooltipMessage"
      class="ml-1"
      [message]="tooltipMessage"
      [placement]="tooltipPlacement"
      [color]="tooltipColor"
      [icon]="tooltipIcon"
    ></sq-tooltip>
  </label>
  <div
    class="wrapper-select-multi"
    [ngClass]="{
      error: (externalError && externalError !== '') || (error && error !== ''),
      disabled: disabled,
      readonly: readonly,
      loading: loading
    }"
  >
    <div
      [class]="'input-fake col  border-' + borderColor"
      style="min-height: auto"
      [ngStyle]="{ 'border-color': borderColor }"
      [ngClass]="{
        'no-label': !(label && label.length > 0),
        'has-icon': error || externalError,
        disabled: disabled,
        readonly: readonly
      }"
      [ngStyle]="{
        'background-color': backgroundColor,
        'border-color': borderColor
      }"
      [clickOutsideEnabled]="open"
      (clickOutside)="closeDropdown()"
    >
      <div
        class="input-fake-content"
        [ngClass]="{
          disabled: disabled
        }"
        (click)="open = !open; !open ? closeDropdown() : addMoreOptions()"
      >
        <div class="loading-wrapper" *ngIf="loading">
          <sq-loader></sq-loader>
        </div>
        <span *ngIf="!value?.length || !showInside">{{ placeholder }}</span>
        <div class="input-fake-content-text" *ngIf="showInside && value?.length">
          <span class="tag" *ngFor="let opt of value; let i = index" (click)="removeItem(opt)">
            {{ opt?.label }} <i class="fas fa-times"></i>
          </span>
        </div>
        <span *ngIf="value?.length" class="badge">{{ value!.length }}</span>
        <i *ngIf="!loading" class="icon-down fas fa-chevron-down"></i>
      </div>
      <div
        *ngIf="!loading && !disabled && open"
        [id]="'scroll-'+ id"
        class="input-window scrollbar"
        [ngClass]="{
          open: open && !disabled && !loading
        }"
      >
        <div class="input-search">
          <div class="wrapper-all-inside-input">
            <div class="p-0 wrapper-input wrapper-input-squid text-ellipsisarea">
              <input
                [name]="name"
                [id]="id"
                [placeholder]="placeholderSearch || ('forms.search' | translateInternal | async) || ''"
                class="col input"
                [ngModel]="searchText"
                (ngModelChange)="modelChange($event)"
                *ngIf="!hideSearch"
              />
            </div>
            <span class="icon icon-external textarea-icon"><i class='fas fa-search'></i></span>
          </div>
        </div>
        <sq-infinity-scroll
          class="list"
          [elementToScrollId]="'scroll-'+ id"
          loaderColor="var(--pink)"
          [length]="options.length || 0"
          [hasMore]="hasMoreOptions"
          [loading]="loadingScroll"
          (scrolledEmitter)="addMoreOptions()"
        >
          <ng-container *ngFor="let opt of _options | search:searchText; let i = index; trackBy: trackByOptValue">
            <ng-template *ngTemplateOutlet="option; context: { opt: opt, i: i }"></ng-template>
          </ng-container>
        </sq-infinity-scroll>
        <p *ngIf="!_options?.length">
          {{ 'forms.seachSelectEmpty' | translateInternal | async }}
        </p>
      </div>
    </div>
  </div>
  <div
    class="box-validation box-invalid show"
    *ngIf="errorSpan"
    [ngClass]="{
      'visibility-hidden-force': ((!externalError || externalError === '') && (!error || error === '')) || disabled || readonly
    }"
  >
    <i [ngClass]="{
      'visibility-hidden-force': !error && !externalError
    }" class="fa-solid fa-triangle-exclamation"></i>
    {{ externalError ? externalError : '' }}
    {{ error && !externalError ? error : '' }}
  </div>
  <ng-template #option let-opt="opt" let-i="i">
    <li>
      <i
        class="icon-collapse fas fa-chevron-down"
        [ngClass]="{ 'fa-rotate-by': !opt.open }"
        [ngStyle]="{ color: !opt?.children?.length || opt?.disabled ? 'transparent' : '' }"
        (click)="handleCollapse(opt)"
        style="--fa-rotate-angle: -90deg"
        *ngIf="verifyIfOptionsHasChildren(options)"
      ></i>
      <sq-selector
        [id]="(id || name) + '-checkbox-' + opt?.value + '-' + i"
        [name]="name + '-checkbox'"
        [value]="opt?.value"
        [disabled]="opt?.disabled"
        [checked]="findItemInValue(opt)"
        [indeterminate]="verifyIfHasChildrenInValue(opt)"
        (valueChange)="emit(opt, $event.checked)"
      ></sq-selector>
      <span class="text m-0 display-inline-block" [ngClass]="{ 'cursor-pointer': opt?.children?.length }" (click)="handleCollapse(opt)">{{
        opt?.label
      }}</span>
      <ul class="children" *ngIf="opt?.children?.length && opt?.open">
        <ng-container *ngFor="let child of opt?.children | search:searchText; let j = index; trackBy: trackByOptValue">
          <ng-template *ngTemplateOutlet="option; context: { opt: child, i: j }"></ng-template>
        </ng-container>
      </ul>
    </li>
  </ng-template>
</div>
