<div class="wrapper-all-inside-input {{ customClass }}">
  <label
    class="display-flex align-items-center"
    *ngIf="label?.length || tooltipMessage"
    [ngClass]="{
      readonly: readonly
    }"
    [for]="id"
  >
    <div *ngIf="label" [ngStyle]="{ 'color': labelColor }" [innerHtml]="label | universalSafe"></div>
    <sq-tooltip
      *ngIf="tooltipMessage"
      class="ml-1"
      [message]="tooltipMessage"
      [placement]="tooltipPlacement"
      [color]="tooltipColor"
      [icon]="tooltipIcon"
    ></sq-tooltip>
    <i 
      class="fa-solid fa-compass ml-1 campaign-tip"
      (click)="emmitCampaignTipEvent($event)"
      *ngIf="campaignTip"
    ></i> 
  </label>
  <div
    class="p-0 wrapper-input wrapper-input-squid text-ellipsisarea"
    [ngClass]="{
      error: (externalError && externalError !== '') || (error && error !== ''),
      readonly: readonly
    }"
  >
    <span class="input-group-text m-0" *ngIf="leftLabel">
      <ng-container *ngTemplateOutlet="leftLabel"></ng-container>
    </span>
    <input
      class="col input"
      [ngClass]="{
        'has-icon': error || externalError,
        disabled: disabled,
        readonly: readonly
      }"
      [ngStyle]="{
        'background-color': backgroundColor,
        'border-color': borderColor
      }"
      [id]="id"
      [type]="type || 'text'"
      [name]="name"
      [placeholder]="placeholder || ''"
      [required]="required"
      [disabled]="disabled"
      [readonly]="readonly"
      (blur)="validate(true)"
      [ngModel]="_value"
      [maxlength]="maxLength"
      (ngModelChange)="change($event)"
      (keydown)="keyDown($event)"
      (keyup)="keyUp($event)"
      [pattern]="pattern"
      [attr.inputmode]="inputMode"
      ngDefaultControl
    />
    <span class="input-group-text m-0" *ngIf="rightLabel">
      <ng-container *ngTemplateOutlet="rightLabel"></ng-container>
    </span>
  </div>
  <span
    *ngIf="externalIcon"
    class="icon icon-external textarea-icon"
    [ngClass]="{
      'no-label': !label?.length
    }"
    [innerHtml]="externalIcon || '' | universalSafe"
  ></span>
  <div
    class="box-validation box-invalid show"
    *ngIf="errorSpan"
    [ngClass]="{
      'has-max-length': maxLength
    }"
  >
    <i [ngClass]="{
      'visibility-hidden-force': !error && !externalError
    }" class="fa-solid fa-triangle-exclamation"></i>
    {{ externalError ? externalError : '' }}
    {{ error && !externalError ? error : '' }}
    <span
      class="max-length-name"
      [ngClass]="{
        'visibility-hidden-force': disabled || readonly
      }"
      *ngIf="maxLength"
    >
      {{ maxLength - (value?.length || 0) }}
    </span>
  </div>
</div>