<div class="wrapper-all-inside-input {{ customClass }}" [ngClass]="{
  'no-label': !label.length
}">
  <label
    class="display-flex"
    *ngIf="label?.length"
    [ngClass]="{
      readonly: readonly
    }"
    [for]="id"
  >
    <div *ngIf="label?.length" [ngStyle]="{ 'color': labelColor }" [innerHtml]="label | universalSafe"></div>
  </label>
  <div
    class="p-0 wrapper-input wrapper-input-squid"
    [ngClass]="{
      error: (externalError && externalError !== '') || (error && error !== ''),
    }"
  >
    <output class="value-floating" #valueFloating>
      {{ value }}
    </output>
    <input
      [id]="id || timeStamp"
      type="range"
      class="range"
      [name]="name || timeStamp"
      [step]="step"
      [required]="required"
      [disabled]="readonly"
      [min]="minNumber || ''"
      [max]="maxNumber || ''"
      (blur)="validate(true)"
      [ngModel]="value"
      (ngModelChange)="change($event)"
      ngDefaultControl
      #input
    />
  </div>
  <div class="box-validation box-invalid show" *ngIf="errorSpan">
    <i [ngClass]="{
      'visibility-hidden-force': !error || !externalError
    }" class="fa-solid fa-triangle-exclamation"></i>
    {{ externalError ? externalError : '' }}
    {{ error && !externalError ? error : '' }}
  </div>
</div>
