<div
  class="wrapper-all-inside-input {{ customClass }}"
  [ngClass]="{
    'no-label': !label.length,
  }"
>
  @if (label?.length || labelTemplate) {
    <label
      class="display-flex"
      [ngClass]="{
        readonly: readonly,
      }"
      [for]="id"
    >
      @if (label?.length && !labelTemplate) {
        <div [ngStyle]="{ color: labelColor }" [innerHtml]="label | universalSafe"></div>
      }
    </label>
  }
  @if (labelTemplate) {
    <div>
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </div>
  }
  <div
    class="p-0 wrapper-input wrapper-input-squid"
    [ngClass]="{
      error: (externalError && externalError !== '') || (error && error !== ''),
    }"
  >
    <output class="value-floating" #valueFloating>
      {{ value }}
    </output>
    <input
      [id]="id"
      type="range"
      class="range"
      [name]="name"
      [step]="step"
      [required]="required"
      [disabled]="readonly"
      [min]="minNumber || ''"
      [max]="maxNumber || ''"
      (blur)="validate(true)"
      [ngModel]="value"
      (ngModelChange)="change($event)"
      (focus)="emitFocus.emit()"
      ngDefaultControl
      #input
    />
  </div>
  @if (errorSpan) {
    <div class="box-validation box-invalid show">
      <i
        [ngClass]="{
          'visibility-hidden-force': !error && !externalError,
        }"
        class="fa-solid fa-triangle-exclamation"
      ></i>
      {{ externalError ? externalError : '' }}
      {{ error && !externalError ? error : '' }}
    </div>
  }
</div>
