:host{
  &.fitContent{
    width: fit-content;
  }
}
.wrapper-selectors {
  .hide-input {
    display: none !important;
  }
  &.block{
    .label-max-width{
      width: 100%;
    }
  }
}
.block {
  width: 100%;
}
