<div
  class="wrapper-selectors"
  [ngClass]="{
    toggle: toggle,
    checked: thisChecked,
    indeterminate: !thisChecked ? thisIndeterminate : false,
    error: error,
    block: block,
  }"
>
  <label [for]="id" *ngIf="leftLabel">
    <ng-container
      *ngTemplateOutlet="leftLabel; context: context"
    ></ng-container>
  </label>
  <input
    [id]="id"
    [name]="name"
    [type]="type"
    (change)="change($event)"
    [value]="value"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [checked]="thisChecked"
    [ngClass]="{
      indeterminate: !(checked || thisChecked) ? indeterminate || thisIndeterminate : null
    }"
    [indeterminate]="!(checked || thisChecked) ? indeterminate || thisIndeterminate : null"
  />
  <label
    [for]="id"
    [ngClass]="{
      disabled: disabled,
      'hide-input': hideInput
    }"
    class="checkbox {{ type }}"
  ></label>
  <label [for]="id" *ngIf="label" [innerHtml]="label | universalSafe" [ngClass]="{'label-max-width': hideInput && block}"></label>
  <label [for]="id" *ngIf="rightLabel">
    <ng-container
      *ngTemplateOutlet="rightLabel; context: context"
    ></ng-container>
  </label>
</div>
<div
  class="box-validation box-invalid show"
  *ngIf="errorSpan"
>
  <ng-container *ngIf="externalError || error">
    <i class="fa-solid fa-triangle-exclamation"></i>
  </ng-container>
  {{ externalError ? externalError : '' }}
  {{ error && !externalError ? error : '' }}
</div>
