<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">SqInputFormControl - Exemplos</h1>
      <p class="lead mb-5">Demonstração do componente moderno com Reactive Forms</p>
    </div>
  </div>

  <!-- Exemplos serão adicionados aqui -->
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        <h5><i class="fa-solid fa-circle-info mr-2"></i>Exemplos em Desenvolvimento</h5>
        <p class="mb-0">Novos exemplos mais atrativos serão adicionados em breve.</p>
      </div>
    </div>
  </div>
</div>
