<div class="wrapper-all-inside-input {{ customClass }}">
  @if (label?.length || tooltipMessage || labelTemplate) {
    <label
      class="display-flex"
      [ngClass]="{
        readonly: readonly,
      }"
      [for]="id"
    >
      @if (label && !labelTemplate) {
        <div [ngStyle]="{ color: labelColor }" [innerHtml]="label | universalSafe"></div>
      }
      @if (labelTemplate) {
        <div>
          <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        </div>
      }
      @if (tooltipMessage) {
        <sq-tooltip
          class="ml-1"
          [message]="tooltipMessage"
          [placement]="tooltipPlacement"
          [color]="tooltipColor"
          [icon]="tooltipIcon"
        ></sq-tooltip>
      }
    </label>
  }
  <div
    class="p-0 wrapper-input wrapper-input-squid text-ellipsisarea"
    [ngClass]="{
      error: (externalError && externalError !== '') || (error && error !== ''),
      readonly: readonly,
    }"
  >
    @if (leftLabel) {
      <span class="input-group-text m-0">
        <ng-container *ngTemplateOutlet="leftLabel"></ng-container>
      </span>
    }
    <textarea
      class="col textarea scrollbar"
      [ngStyle]="{
        'background-color': backgroundColor,
        'border-color': borderColor,
      }"
      [ngClass]="{
        error: (externalError && externalError !== '') || (error && error !== ''),
        disabled: disabled,
        readonly: readonly,
        'has-icon-external': externalIcon,
      }"
      [id]="id"
      [name]="name"
      [placeholder]="placeholder || ''"
      [required]="required"
      [disabled]="disabled"
      [readonly]="readonly"
      (blur)="validate(true)"
      [maxlength]="maxLength"
      [ngModel]="value"
      (ngModelChange)="change($event)"
      (keydown)="keyDown($event)"
      (keyup)="keyUp($event)"
      ngDefaultControl
      >{{ value }}</textarea
    >
    @if (rightLabel) {
      <span class="input-group-text m-0">
        <ng-container *ngTemplateOutlet="rightLabel"></ng-container>
      </span>
    }
  </div>
  @if (externalIcon) {
    <span
      class="icon icon-external textarea-icon"
      [ngClass]="{
        'no-label': !label?.length,
      }"
      [innerHtml]="externalIcon || '' | universalSafe"
    ></span>
  }
  @if (errorSpan) {
    <div
      class="box-validation box-invalid show"
      [ngClass]="{
        'has-max-length': maxLength,
      }"
    >
      @if (externalError || error) {
        <i class="fa-solid fa-triangle-exclamation"></i>
      }
      {{ externalError ? externalError : '' }}
      {{ error && !externalError ? error : '' }}
      @if (maxLength) {
        <span
          class="max-length-name"
          [ngClass]="{
            'visibility-hidden-force': disabled || readonly,
          }"
        >
          {{ maxLength - (value?.length || 0) }}
        </span>
      }
    </div>
  }
</div>
