<div class="tabs-squid">
  <div class="tabs-container">
    <div
      class="wrapper {{ customClass }}"
      [ngStyle]="{
        width: memoizedTabWidth(tabWidth, lineStyle),
      }"
    >
      <ul
        class="tabs-header tabs-center tabs-width"
        #tabsHeaderContainer
        [ngClass]="{
          'line-style': lineStyle,
        }"
        [ngStyle]="{
          'max-width': maxWidth,
          margin: margin,
        }"
      >
        @for (tab of tabs; track tab; let i = $index) {
          <li
            (click)="!tab?.disabled ? selectTab(tab, i) : null"
            [ngClass]="{
              disabled: !tab?.title || tab?.disabled,
              loading: tab?.title && tab.loading,
              active: tab?.active,
              sm: sm,
            }"
            [ngStyle]="{
              background: tab?.active && !lineStyle ? tab?.color : null,
            }"
            #thisTab
          >
            @if (!tab.loading) {
              <span
                [ngStyle]="{
                  color: tab?.active && !lineStyle ? tab?.textColor : null,
                }"
                [innerHtml]="tab?.title || '' | universalSafe"
              ></span>
            }
            @if (tab.loading) {
              <sq-loader></sq-loader>
            }
          </li>
        }
      </ul>
    </div>
  </div>
  <ng-content></ng-content>
</div>
