:host {
  display: block;
  width: 100%;
  .wrapper {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .tabs-header {
    position: relative;
    scroll-behavior: smooth;
    li {
      min-width: min-content;
    }
  }
}
